*{
    margin: 0;
    padding: 0;
}

body{
display: flex;
justify-content: center;

}

#calculator {
    border: 20px solid darksalmon;
    background-color: brown;
    border-radius: 5px;
    width: 200px;
    margin-top: 40px;

  }
  
  #display {
    margin: 10px;
    width: 85%;
    font-size: 25px;
    background-color: aquamarine;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    background-color: black;
  }
  
  .button {
    width: 45px;
    height: 45px;
    margin: 3px;

    background-color: bisque;
  }